USE [AddressBook]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 08.07.2023 19:00:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Persons] ON 

INSERT [dbo].[Persons] ([Id], [FirstName], [LastName], [DateOfBirth], [Email]) VALUES (1, N'Иван', N'Петров', CAST(N'1990-05-10T00:00:00.000' AS DateTime), N'ivan@example.com')
INSERT [dbo].[Persons] ([Id], [FirstName], [LastName], [DateOfBirth], [Email]) VALUES (2, N'Алексей', N'Смирнов', CAST(N'1985-12-15T00:00:00.000' AS DateTime), N'alexey@example.com')
INSERT [dbo].[Persons] ([Id], [FirstName], [LastName], [DateOfBirth], [Email]) VALUES (3, N'Елена', N'Иванова', CAST(N'1992-09-20T00:00:00.000' AS DateTime), N'elena@example.com')
SET IDENTITY_INSERT [dbo].[Persons] OFF
GO
