@{
    ViewData["Title"] = "Домашняя";
}

<div class="text-center">
    <h1 class="display-4">Адресная книга</h1>
    <p>Данная программа выводит информацию о людях. Также она позводяет просматривать информацию о всех людях, а также удалять, добавлять, редактировать информацию о них.</p>
</div>
